@{
  Layout = "_Layout";
}

@model HairSalon.Models.Client

<div class="waring">
<strong>Note:</strong> All <em>clients</em> must be attatched to a <em>Stylist.</em> You will not be able to create a new client if no Stylists have been added yet. Add a stylist @Html.ActionLink("here.", "Create", "Stylists")
</div>

<h2>Add new Client:</h2>

@using(Html.BeginForm())
{
  @Html.LabelFor(model => model.ClientName)
  @Html.TextBoxFor(model => model.ClientName, new { required = "required"})

  @Html.LabelFor(model => model.Stylist)
  @Html.DropDownList("StylistId")

    <input type="submit" value="Add new client" />
}

<div class="navigation">
<div>@Html.ActionLink("Show all clients", "Index")</div>
<div>@Html.ActionLink("Return Home", "Index", "Home")</div>
</div>